<div>
    Stopwatch <i class="fa fa-clock-o"></i>

    <br>
    <button *ngIf="clock_text==='start'" type="button" class="btn btn-outline-success" (click)="start()">Start</button>
    &nbsp;
    <button *ngIf="clock_text==='stopOrClear'" type="button" class="btn btn-outline-danger"
        (click)="stop()">Stop</button> &nbsp;
    <button *ngIf="clock_text==='resume' || clock_text==='resumeOrClear'" type="button" class="btn btn-outline-info"
        (click)="resume()">Resume</button>
    &nbsp;
    <button *ngIf="clock_text==='stopOrClear' || clock_text==='resumeOrClear'" type="button"
        class="btn btn-outline-warning" (click)="clear()">Clear</button>
    &nbsp;

    <div> {{ time_lapse | date: "HH 'h' mm 'm' ss 's'"}} </div>
</div>